@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

@theme {
  --color-colorpri: #7e0414;
  --color-secundaria: ;
  --color-fundo-primario: #000000;
  --color-fundo-secundario: ;
}

.selector {
  pointer-events: none;
  display: table;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: transparent;
  line-height: 1.6;
  font-family: sans-serif;
  overflow: hidden;
}
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}
.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #3e3e3e00;
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, transparent, #ff0022);
  -webkit-animation: drop 7s 0s infinite;
  animation: drop 5s 0s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -30%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.line:nth-child(2) {
  margin-left: -10%;
}
.line:nth-child(2)::after {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.line:nth-child(3) {
  margin-left: 10%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.line:nth-child(4) {
  margin-left: 30%;
}
.line:nth-child(4)::after {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@font-face {
  font-family: "";
  src: url("https://tassiorenam.com.br/wp-content/uploads/2025/02/Degular-Semibold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --shiny-cta-bg: #0e0e0e /*fundo do botão*/ !important;
  --shiny-cta-bg-subtle: #570000 !important; /*borda escura do botão*/
  --shiny-cta-fg: #ffffff !important;
  --shiny-cta-highlight: #ff0022 !important; /*luz do botão*/
  --shiny-cta-highlight-subtle: white !important;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-angle-offset {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-percent {
  syntax: "<percentage>";
  initial-value: 5%;
  inherits: false;
}

@property --gradient-shine {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@media only screen and (max-width: 600px) {
  .elementor-button {
    --animation: gradient-angle linear infinite !important;
    --duration: 3s !important; /*tempo em que o círculo brilhante demora para completar a sua volta*/
    --shadow-size: 2px !important;
    isolation: isolate !important;
    position: relative !important;
    overflow: hidden !important;
    cursor: pointer !important;
    outline-offset: 4px !important;
    padding: 1.4rem 3.5rem !important;
    font-family: "Degular", sans-serif !important; /*Puxar a fonte*/
    font-size: 0.8rem !important; /*tamanho da fonte*/
    line-height: 1.2 !important;
    border: 1px solid transparent !important;
    border-radius: 360px !important;
    color: var(--shiny-cta-fg) !important;
    background: linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg))
        padding-box,
      conic-gradient(
          from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
          transparent,
          var(--shiny-cta-highlight) var(--gradient-percent),
          var(--gradient-shine) calc(var(--gradient-percent) * 2),
          var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3),
          transparent calc(var(--gradient-percent) * 4)
        )
        border-box !important;
    box-shadow: inset 0 0 0 1px var(--shiny-cta-bg-subtle) !important;
    transition: 800ms cubic-bezier(0.25, 1, 0.5, 1) !important;
    transition-property: --gradient-angle-offset, --gradient-percent,
      --gradient-shine !important;
  }
}

@media only screen and (min-width: 600px) {
  .elementor-button {
    --animation: gradient-angle linear infinite !important;
    --duration: 3s !important; /*tempo em que o círculo brilhante demora para completar a sua volta*/
    --shadow-size: 2px !important;
    isolation: isolate !important;
    position: relative !important;
    overflow: hidden !important;
    cursor: pointer !important;
    outline-offset: 4px !important;
    padding: 1.25rem 6.5rem !important;
    font-family: "poppins", sans-serif !important; /*Puxar a fonte*/
    font-size: 1rem !important; /*tamanho da fonte*/
    line-height: 1.2 !important;
    border: 1px solid transparent !important;
    border-radius: 360px !important;
    color: var(--shiny-cta-fg) !important;
    background: linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg))
        padding-box,
      conic-gradient(
          from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
          transparent,
          var(--shiny-cta-highlight) var(--gradient-percent),
          var(--gradient-shine) calc(var(--gradient-percent) * 2),
          var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3),
          transparent calc(var(--gradient-percent) * 4)
        )
        border-box !important;
    box-shadow: inset 0 0 0 1px var(--shiny-cta-bg-subtle) !important;
    transition: 800ms cubic-bezier(0.25, 1, 0.5, 1) !important;
    transition-property: --gradient-angle-offset, --gradient-percent,
      --gradient-shine !important;
  }
}

.elementor-button::before,
.elementor-button::after,
.elementor-button span::before {
  content: "" !important;
  pointer-events: none !important;
  position: absolute !important;
  inset-inline-start: 50% !important;
  inset-block-start: 50% !important;
  translate: -50% -50% !important;
  z-index: -1 !important;
}

.elementor-button::before {
  --size: calc(100% - var(--shadow-size) * 3) !important;
  --position: 2px !important;
  --space: calc(var(--position) * 2) !important;
  width: var(--size) !important;
  height: var(--size) !important;
  background: radial-gradient(
      circle at var(--position) var(--position),
      white calc(var(--position) / 4),
      transparent 0
    )
    padding-box !important;
  background-size: var(--space) var(--space) !important;
  background-repeat: space !important;
  mask-image: conic-gradient(
    from calc(var(--gradient-angle) + 45deg),
    black,
    transparent 10% 90%,
    black
  ) !important;
  border-radius: inherit !important;
  opacity: 0.4 !important;
}

.elementor-button::after {
  --animation: shimmer linear infinite !important;
  width: 100% !important;
  aspect-ratio: 1 !important;
  background: linear-gradient(
    -50deg,
    transparent,
    var(--shiny-cta-highlight),
    transparent
  ) !important;
  mask-image: radial-gradient(
    circle at bottom,
    transparent 40%,
    black
  ) !important;
  opacity: 0.6 !important;
}

.elementor-button span {
  z-index: 1 !important;
  position: relative !important;
}

.elementor-button span::before {
  size: calc(100% + 1rem) !important;
  width: 370px !important; /*área azul efeito hover botão*/
  height: 90px !important;
  box-shadow: inset 0 -1ex 2rem 4px var(--shiny-cta-highlight) !important;
  opacity: 0 !important;
  transition: opacity 1500ms cubic-bezier(0.25, 1, 0.5, 1) !important;
}

.elementor-button:hover,
.elementor-button:focus-visible {
  --gradient-percent: 20% !important;
  --gradient-angle-offset: 95deg !important;
  --gradient-shine: var(--shiny-cta-highlight-subtle) !important;
}

.elementor-button:hover span::before {
  opacity: 1 !important;
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}

@keyframes shimmer {
  to {
    transform: rotate(360deg) !important;
  }
}

@keyframes breathe {
  50% {
    transform: scale(1.2) !important;
  }
}

.elementor-button,
.elementor-button::before,
.elementor-button::after {
  animation: var(--animation) var(--duration),
    var(--animation) calc(var(--duration) / 0.4) reverse paused !important;
  animation-composition: add !important;
}

.elementor-button:hover,
.elementor-button:hover::before,
.elementor-button:hover::after {
  animation-play-state: running !important;
}

.shadow-text {
  text-shadow: 20px 5px 45px var(--color-colorpri);
}

.mr01 {
  position: absolute;
  top: 50%; /* centraliza verticalmente */
  right: 0; /* gruda na direita */
  transform: translateY(-50%); /* corrige o centro vertical */
  z-index: 10; /* garante que fique acima de outros elementos */
}

.mr01 img {
  max-height: 90vh; /* opcional: controla o tamanho da imagem */
  object-fit: contain; /* mantém proporção */
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 960px; /* 3 vídeos x 300px + pequenas margens */
  overflow: hidden;
  padding-top: 20px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.item {
  flex: 0 0 auto;
  margin: 0 5px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-colorpri);
  color: white;
  border-radius: 7px;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 24px;
}

#prevBtn {
  left: 0;
}
#nextBtn {
  right: 0;
}

/* Larguras responsivas */
@media (min-width: 961px) {
  .carousel-container {
    width: 960px;
  } /* 3 vídeos */
}

@media (min-width: 601px) and (max-width: 960px) {
  .carousel-container {
    width: 620px;
  } /* 2 vídeos */
}

@media (max-width: 600px) {
  .carousel-container {
    width: 310px;
  } /* 1 vídeo */
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* pode ajustar */
}

/* Fundo da barra (o “trilho”) */
::-webkit-scrollbar-track {
  background: #000000; /* cor do fundo */
  border-radius: 6px; /* borda arredondada opcional */
}

/* Cor da “thumb” (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background-color: var(--color-colorpri); /* cor do cursor */
  border-radius: 6px; /* arredonda as bordas */
  border: 3px solid #000000; /* espaço entre a thumb e o track */
}

/* From Uiverse.io by dylanharriscameron */
.card2 {
  position: relative;
  width: 400px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.252);
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 390px;
  height: 240px;
  z-index: 2;
  background: black;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 4px solid black;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #ff0022;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

/* From Uiverse.io by alafshate */
.card3 {
  width: fit-content;
  height: fit-content;
  background-color: rgba(238, 238, 238, 0.051);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #14b94e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .bg-hidden {
    background-image: none !important;
  }
}

